<h2>Modifier vos poèmes<h2>

<%= form_with model: @poesie, local: true do |form|%>


<p>
<%= form.label :nom %>
<%= form.text_field :nom %>
</p>
<p>
<%= form.label :contenu %>
<%= form.text_area :contenu %>
</p>
<p>
<%= form.label :auteur %>
<%= form.text_field :auteur %>
</p>
<p>
<%= form.submit " Modifier votre poesie"%>
</p>
<% end %>